<footer class="mt-10 border-0 border-t-2 border-gray-500 pt-8">
    <ul>
        <li>Auth0 + Tailwind + RazorPages kit by <a href="https://twitter.com/jkirsteins">@@jkirsteins</a></li>
        <li>Improve this by submitting a PR to <a href="https://github.com/kirsis/...">kirsis/...</a></li>
    </ul>
</footer>
