<footer class="mt-10 border-0 border-t-2 border-gray-500 pt-8">
    <ul>
        <li>Auth0 + Tailwind + RazorPages kit by <a class="text-blue-500 underline" href="https://twitter.com/jkirsteins">@@jkirsteins</a></li>
        <li>Improve this by submitting a PR to <a class="text-blue-500 underline" href="https://github.com/jkirsteins/boilerplate-razorpages-auth0-tailwind">jkirsteins/boilerplate-razorpages-auth0-tailwind</a> on GitHub.</li>
    </ul>
</footer>
