<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>@ViewData["Title"] - aspnet_tailwind</title>
    <link rel="stylesheet" href="~/dist/main.css" />
</head>
<body class="p-20">

    <article class="prose lg:prose-xl">
        <h1>You are unauthenticated</h1>
        <p>
            This is the layout for unauthenticated pages. You can find it in <em class="text-red-700">Pages/Shared/UnauthenticatedLayout.cshtml</em>.
        </p>
        <p>The area below is the page that uses this layout (e.g. <em class="text-red-700">Login.cshtml</em>)</p>
    </article>

    <section class="mt-10 p-8 border-4 border-solid border-gray-500">
        @RenderBody()
    </section>

    <partial name="_Footer" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
