@page
@{
    ViewData["Title"] = "Home page";

    @functions{
        string token = "nope";
        public void OnGet()
        {
            token = User.Identity.Name;
            string yo = string.Join(", ", User.Claims.Select(o => o.ToString()));
            token = yo;
        }
    }
}

<h1 class="font-bold text-2xl">Hello, @(User.Identity.Name)!</h1>
<p class="">Your claims:</p>
<ul>
    @foreach (var claim in User.Claims)
    {
        <li><strong>@(claim.Type)</strong> = @(claim.Value)</li>
    }
</ul>
